langchain-openai
langchain
langchain-community
langchain-cohere
langchain-anthropic
Flask
PyMuPDF
reportlab
faiss-cpu
prometheus_client
langchain-google-genai
openpyxl
pyyaml
flask-mysqldb
flask-bcrypt