OPENAI_API_KEY = YOUR_OPENAI_API_KEY
CO_API_KEY = YOUR_COHERE_API_KEY
GOOGLE_API_KEY = YOUR_GEMINI_API_KEY
PROMETHEUS_CONFIG_PATH=/path/to/prometheus/config/prometheus.yml
AZURE_OPENAI_API_KEY = YOUR_AZURE_OPENAI_API_KEY
AZURE_OPENAI_ENDPOINT = YOUR_AZURE_OPENAI_ENDPOINT
ANTHROPIC_API_KEY = YOUR_ANTHROPIC_API_KEY
communication_email = YOUR_COMMUNICATION_EMAIL
communication_email_password = YOUR_COMMUNICATION_EMAIL_PASSWORD
secret_key = your_secret_key_for_token_generation
MYSQL_USER = YOUR_MYSQL_ROOT_USER
MYSQL_PASSWORD = YOUR_MYSQL_ROOT_USER_PASSWORD
MYSQL_DB = YOUR_DATABASE_NAME
MYSQL_HOST = YOUR_DATABASE_DOCKER_SERVICE_NAME