langchain-openai
langchain
langchain-community
langchain-cohere
langchain-anthropic
langchain-google-genai
Flask
PyMuPDF
reportlab
faiss-cpu
prometheus_client
openpyxl
pyyaml
flask-mysqldb
flask-bcrypt